<div class="divHeader">
  <app-breadcrumb 
    [previousRoutes]="[
        { icon: '/assets/icons/home.svg', path: 'Início', href: '/' },
        { icon: '/assets/icons/movie.svg', path: 'Filmes', href: '/movies' }
    ]"

    [currentRoute]="
        { icon: '/assets/icons/info.png', path: movieDetails.title, href: '/movie/' + movieDetails.id }
    "
    />
  <app-header-information 
  [movieTitle]="movieDetails.title"
/>
</div>
<section class="myContainer">
    <app-card-details-movie 
      [imgMovie]="movieDetails.imgMovie"
      [releaseDate]="movieDetails.releaseDate"
      [director]="movieDetails.director"
      [rating]="movieDetails.rating"
      [genres]="movieDetails.genres"
    />
    <section class="secCastAndSinopsis">
      <div class="divCast">
        <h3 class="title">Elenco</h3>
        <app-avatar *ngFor="let cast of movieDetails.castDetails"
          [name]="cast.actorName"
          [desc]="cast.character"
          [photo]="cast.actorImage"
        />    
        <div class="divButton">
          <app-common-button 
            label="Ver mais +"
          />
        </div>
      </div>
      <div>
        <app-synopsis-card 
          [sinopse]="movieDetails.sinopse"
        /> 
      </div>
  </section>
</section>