.divHeader {
  margin-left: 20px;
}

.myContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;

  .title {
    padding-top: 25px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .secCastAndSinopsis {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;

    .divCast {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      padding-left: 40px;
      background-color: white;
      width: 551px;
      height: 390px;
      border-radius: 12px;
      gap: 22px;
      position: relative;

      .divButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 12px;
      }
    }
  }
}

// Media Queries
@media (max-width: 769px) {
  .myContainer {
    flex-direction: column;
    gap: 20px;

    .secCastAndSinopsis {
      .divCast {
        width: 500px;
      }

      .divButton {
        bottom: 5px;
        right: 8px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .myContainer {
    gap: 20px;
    flex-wrap: nowrap;

    .title {
      font-size: 30px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 440px;
        height: 495px;
        gap: 30px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .myContainer {
    gap: 20px;
    flex-wrap: nowrap;

    .title {
      font-size: 28px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 31rem;
        height: 455px;
        gap: 30px;
      }
    }
  }
}

@media (min-width: 1530px) {
  .myContainer {
    gap: 55px;
    flex-wrap: nowrap;

    .title {
      font-size: 24px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 36rem;
        height: 325px;
        gap: 10px;
      }
    }
  }
}

@media (min-width: 1900px) {
  .myContainer {
    gap: 70px;
    flex-wrap: nowrap;

    .title {
      font-size: 33px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 46rem;
        height: 29.7rem;
        gap: 20px;
      }
    }
  }
}
