.modal-title {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Linha separadora abaixo do título */
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: right;
}

.containerDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;

  .title {
    padding-top: 25px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .secCastAndSinopsis {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;

    .divCast {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      padding-left: 40px;
      background-color: white;
      width: 551px;
      height: 390px;
      border-radius: 12px;
      gap: 22px;
      position: relative;

      .divButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 12px;
      }
    }
  }
}

.secRevAndForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  gap: 20px;
}

.divReviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.divForm {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5rem;
  height: 380px;
  margin-top: 19px;
  min-width: 100%;
  margin-bottom: 25px;

  form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;

    h4 {
      padding-top: 10px;
      font-size: 22px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        font-weight: 500;
        font-size: 15px;
      }

      input {
        border-radius: 6px;
        border: 1px solid dimgrey;
        font-size: 15px;
        padding: 2px;
        padding-left: 10px;
        outline: #1D4ED8;
        color: rgb(85, 85, 85);
        margin-bottom: 10px;
      }

      input:focus {
        border: 2px solid #1D4ED8;
      }
    }
  }

  .divUndraw {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    width: 51.6rem;
  }

  @media (max-width:768px) {
    img {
      display: none;
    }
  }

  @media (min-width:1900px) {
    gap: 2.5rem;

    form {
      width: 593px;
    }

    img {
      width: 540px;
    }
}
}

// Media Queries
@media (max-width: 769px) {
  .containerDetails {
    flex-direction: column;
    gap: 20px;

    .secCastAndSinopsis {
      .divCast {
        width: 500px;
      }

      .divButton {
        bottom: 5px;
        right: 8px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .containerDetails {
    gap: 20px;
    flex-wrap: nowrap;

    .title {
      font-size: 30px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 440px;
        height: 495px;
        gap: 30px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .containerDetails {
    gap: 20px;
    flex-wrap: nowrap;

    .title {
      font-size: 28px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 31rem;
        height: 455px;
        gap: 30px;
      }
    }
  }
}

@media (min-width: 1530px) {
  .containerDetails {
    flex-wrap: nowrap;

    .title {
      font-size: 24px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 42rem;
        height: 325px;
        gap: 10px;
      }
    }
  }
}

@media (min-width: 1900px) {
  .containerDetails {

    .title {
      font-size: 33px;  
    }

    .secCastAndSinopsis {
      .divCast {
        width: 52rem;
        height: 29.7rem;
        gap: 20px;
      }
    }
  }
}
