<main class="myContainer">
  <div class="divHeader">
    <div class="divBreadAndLang">
      <app-breadcrumb
        [previousRoutes]="[
          { icon: '/assets/icons/home.svg', path: 'Início', href: '/' },
          { icon: '/assets/icons/movie.svg', path: 'Filmes', href: '/movies' }
        ]"
        [currentRoute]="{
          icon: '/assets/icons/info.png',
          path: movieDetails.title,
          href: '/movie/' + movieDetails.id
        }"
      />
    </div>
    <app-header-information [movieTitle]="movieDetails.title" />
  </div>
  <section class="containerDetails">
    <app-card-details-movie
      [imgMovie]="movieDetails.poster_path"
      [releaseDate]="movieDetails.release_date"
      [director]="director"
      [rating]="movieDetails.vote_average"
      [genres]="movieDetails.genres"
    />
    <div class="secCastAndSinopsis">
      <div class="divCast">
        <h3 class="title">Elenco</h3>
        <app-avatar
          *ngFor="let person of casts"
          [name]="person.name"
          [desc]="person.character"
          [photo]="person.profile_path"
        />
        <div class="divButton">
          <app-common-button
            label="Ver mais +"
            (click)="loadModalCast(); loadMoreCasts()"
          />
        </div>
      </div>
      <div>
        <app-synopsis-card
          [sinopse]="
            movieDetails.overview ? movieDetails.overview : 'Não possui sinopse'
          "
        />
      </div>
    </div>
  </section>
  <section class="secRevAndForm">
    <div class="divReviews">
      @if (reviews.length > 0) { 
        <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
        @for (item of reviews; track $index) {
          <swiper-slide>
            <app-review-card
              [userPhoto]="item.userPhoto"
              [author]="item.author"
              [reviewContent]="item.reviewContent"
              [rating]="item.rating"
              [reviewDate]="item.reviewDate"
              [watchedDate]="item.watchedDate"
            />
          </swiper-slide>
        } 
      </swiper-container>
      } @else {
        <ng-content>
          <app-review-card
            [isNotEmpty]="false"
            reviewContent="Nenhuma avaliação publicada sobre esse filme!"
          />
        </ng-content>
      }
    </div>
    <div class="divForm">
      <div>
        <h4>Adicione uma avaliação</h4>
      </div>
      <form [formGroup]="formReviews" class="form" (ngSubmit)="onSubmit()">
        <div class="divContainerInputs">
          <div class="divInpName">
            <label for="name">Nome</label>
            <input
              type="text"
              formControlName="author"
              name="name"
              id="name"
              placeholder="Ex: Josias"
            />
            <p *ngIf="formReviews.get('author')?.invalid && formReviews.get('author')?.touched" 
            style="color: red; font-size: 11px;">
              <ng-container *ngIf="formReviews.get('author')?.hasError('required')">
                Nome é obrigatório.
              </ng-container>
              <ng-container *ngIf="formReviews.get('author')?.hasError('minlength')">
                O nome precisa ter pelo menos 3 caracteres.
              </ng-container>
            </p>
          </div>
          <div class="divInpRating">
            <label for="rating">Nota</label>
            <input
              type="number"
              formControlName="rating"
              name="rating"
              id="rating"
              placeholder="Ex: 7.6"
            />
            <p *ngIf="formReviews.get('rating')?.invalid && formReviews.get('rating')?.touched" 
            style="color: red; font-size: 11px;">
              <ng-container *ngIf="formReviews.get('rating')?.hasError('required')">
                Nota é obrigatória.
              </ng-container>
              <ng-container *ngIf="formReviews.get('rating')?.hasError('max')">
                A nota não pode ser maior que 10.
              </ng-container>
              <ng-container *ngIf="formReviews.get('rating')?.hasError('min')">
                A nota não pode ser menor que 0.
              </ng-container>
            </p>            
          </div>
  
          <div class="divInpDate">
            <label for="watchedDate">Assistido em</label>
            <input
              type="date"
              formControlName="watchedDate"
              name="watchedDate"
              id="watchedDate"
            />
            <p *ngIf="formReviews.get('watchedDate')?.invalid || formReviews.get('watchedDate')?.touched"
            style="color: red; font-size: 11px;">
              <ng-container *ngIf="formReviews.get('watchedDate')?.hasError('required')">
                Data é obrigatória.
              </ng-container>
              <ng-container *ngIf="!this.dateNotInFuture()">
                Data não pode ser posterior a data de hoje.
              </ng-container>
              <ng-container *ngIf="!this.dateNotBeforeReleaseDate()">
                Data não pode ser anterior ao lançamento do filme.
              </ng-container>
            </p>
          </div>
        </div>

        <div>
          <label for="review">Review</label>
          <textarea
            type="text"
            formControlName="reviewContent"
            name="review"
            id="review"
            placeholder="Ex: Muito bom..."
          ></textarea>
          <p *ngIf="formReviews.get('reviewContent')?.invalid && formReviews.get('reviewContent')?.touched"
          style="color: red; font-size: 11px;">
            Review é obrigatório.
          </p>
        </div>
        
        <div class="divBtnForm">
          <app-common-button 
          [label]="'Publicar'" 
          type="submit"
          [isDisable]="formInvalido"
          [action]="loadModalAddReview"
        />
        </div>
      </form>
    </div>
  </section>
</main>
<!-- Modal Add Review -->
<ng-container *ngIf="exibirModalAddReview">
  <app-modal-container (visivelChange)="loadModalAddReview()" [isAlert]="true">
    <div app-modal-title class="modal-title">
      <h2>Adicionar Review</h2>
    </div>
    <div app-modal-body class="modal-body">
      <p>Seu review foi publicado com sucesso!</p>
    </div>
    <div app-modal-footer class="modal-footer">
      <app-common-button label="Fechar" (click)="loadModalAddReview()" />
    </div>
  </app-modal-container>
</ng-container>
<!-- Modal erro review -->
<ng-container *ngIf="exibirModalErroReview">
  <app-modal-container (visivelChange)="loadModalErroReview()" [isAlert]="true">
    <div app-modal-title class="modal-title">
      <h2>Alerta</h2>
    </div>
    <div app-modal-body class="modal-body">
      <p>Não foi possivel publicar sua avaliação, tente novamente mais tarde.</p>
    </div>
    <div app-modal-footer class="modal-footer">
      <app-common-button label="Fechar" (click)="loadModalErroReview()" />
    </div>
  </app-modal-container>
</ng-container>
<!-- Modal Casts -->
<ng-container *ngIf="exibirModalCast">
  <app-modal-container (visivelChange)="loadModalCast()">
    <div app-modal-title class="modal-title">
      <h2>Elenco</h2>
    </div>
    <div app-modal-body class="modal-body">
      <app-avatar
        *ngFor="let person of outherCasts"
        [name]="person.name"
        [desc]="person.character"
        [photo]="person.profile_path"
      />
    </div>
    <div app-modal-footer class="modal-footer">
      <app-common-button label="Fechar" (click)="loadModalCast()" />
    </div>
  </app-modal-container>
</ng-container>