<main class="myContainer">
  <div class="movieCard">
    <div class="divImg">
      <img [src]="imgMovie" alt="Capa Filme">
    </div>
    <div class="divInfo">
      <div class="dateAndEvaluation">
        <div class="rating">
          <app-badge 
            [label]="rating"
            icon="/assets/star.png"
            [isLargeBadge]="true"
            [isTextHighlighted]="true"
            sizeIcon="18"
          />
        </div>
        <div class="description">
          <p>Dirigido por <strong>{{ director }}</strong></p>
          <p>{{ releaseDate }}</p>
        </div>
      </div>
      <div [ngClass]="genres.length >= 3 ? 'filmeGenre-space-between' : 'filmeGenre-center'">
        <app-badge *ngFor="let genre of genres"
          [label]="genre"
        />
      </div>
    </div>
  </div>
</main>