<nav class="sideBar">
  <div class="container-user">
    <app-avatar 
    photo="/assets/user.png"
    name="Stevezinho224"
    [isNameHighlighted]="false"
    />
  </div>
  <div class="container-links">
    <div class="container-pages">
      <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/movies" [class.selected]="isMoviesActive()" >Filmes</a>
    </div>
    <div class="container-outhers">
      <a href="">Configurações</a>
      <a href="">Sair</a>
    </div>
  </div>
</nav>