<nav class="sideBar">
  <div class="container-user">
    <div>
      <img src="assets/user.png" width="50" height="50" alt="Foto usuário">
    </div>
    <div>
      <a class="navbar-brand" href="#">Stevezinho224</a>
    </div>
  </div>
  <div class="container-links">
    <div class="container-pages">
      <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a routerLink="/movies" routerLinkActive="selected">Filmes</a>
    </div>
    <div class="container-outhers">
      <a href="">Configurações</a>
      <a href="">Sair</a>
    </div>
  </div>
</nav>