<nav class="sideBar">
  <div class="container-user">
    <app-avatar 
    photo="/assets/user.png"
    name="Stevezinho224"
    [isNameHighlighted]="false"
    [photoLocal]="true"
    />
  </div>
  <div class="container-links">
    <div class="container-pages">
      <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">{{ languageApplicationCurrent.startPage }}</a>
      <a routerLink="/movies" [class.selected]="isMoviesActive()" >{{ languageApplicationCurrent.moviesPage }}</a>
    </div>
    <div class="container-outhers">
      <a href="">{{ languageApplicationCurrent.settings }}</a>
      <a href="">{{ languageApplicationCurrent.exit }}</a>
    </div>
  </div>
</nav>