<section class="myContainer">
  <div class="divImg">
    <span>
      <div class="divTexts">
        <h2>{{ 'home.bannerListMovies' | translate }}</h2>
        <p>
          {{ 'home.messageFavorites' | translate }}
        </p>
      </div>
      <div class="divBtn">
        <app-common-button
          [colorWhite]="true"
          [label]="'actions.watchMovies' | translate"
          routerLink="/movies"
        />
      </div>
    </span>
    <img src="assets/banner.jpg" alt="Banner Home" />
  </div>
  <h3>{{ 'home.yourFavorites' | translate }}</h3>
  <div class="favoriteMovies">
    <swiper-container class="mySwiper" scrollbar-hide="true" 
    slides-per-view="4">
      @for (item of movies; track $index) {
      <swiper-slide>
        <app-movie-card
          [image]="item.poster_path"
          [movieTitle]="item.title"
          [releaseDate]="item.release_date"
          [routerLinkImg]="['/movie', item.id]"
        />
      </swiper-slide>
      }
</swiper-container>
  </div>
</section>

<!-- <h2><strong><span class="yellow">Simples</span><span class="blue">Flix</span></strong> — Descubra filmes, explore histórias e avalie emoções.</h2>
  <div>
    <img src="/assets/simplesflix-logo.png" alt="Logo SimplesFlix" width="450" height="450">
  </div> -->
