<section class="reviewCard">
  <div class="headerCard">
    <app-avatar
      [photoLocal]="true"
      [name]="author"
      [desc]="'Em: ' + (reviewDate | date: 'shortDate')"
      [photo]="userPhoto"
    />
  </div>
  <div class="bodyCard">
    <span>
      <img src="assets/star.png" alt="Icon Like" width="25">
      <p>{{ rating }}</p>
    </span>
  </div>
  <div class="footerCard">
    <p>{{ reviewContent }}</p>
    <div class="divWatched">Assistido em: {{ watchedDate | date:'mediumDate'}}</div>
  </div>
</section>