<section class="reviewCard">
  <div class="headerCard">
    <app-avatar
      [photoLocal]="true"
      [withDescription]="false"
      [photo]="userPhoto"
    />
    <p>Review by <strong>{{ author }}</strong></p>
  </div>
  <div class="bodyCard">
    <p>{{ reviewContent }}</p>
  </div>
  <div class="footerCard">
    <span>
      <img src="assets/star.png" alt="Icon Like" width="25">
      <span>{{ rating }}</span>
    </span>
    <div>Data review: {{ reviewDate | date:'mediumDate'}}</div>
    <div>Data assistiu o filme: {{ watchedDate | date:'mediumDate'}}</div>
  </div>
</section>